
.store-body h1 {
    color: #0a3c60;
}

.store-heading {
    background-image: linear-gradient(to right top, #27dfff, #baf5ff);
    padding-bottom: 5%;
    padding-top: 5%;
}

.store-heading h2 {
    font-size: 28px;
    font-family: Readzone;
}

.store-featured-img {
    height: 200px;
    width: auto;
}

.store-body {
    background-image: linear-gradient(to bottom, #96ecfd, #baf5ff);
    height: 1000vh;
}

.store-body p {
    font-size: medium;
    color: #602056;
}

.store-img-container {
    height: 200px;
}

.store-card img {
    height: 100%;
    width: auto;
}

.store-cost-banner {
    height: 55px;
    border-radius: 5%;
}

.purchase-btn {
    font-family: Funhouse;
    background-color: rgb(102, 210, 16);
    border-radius: 10px;
    border-color: rgb(102, 210, 16);
    border-width: medium;
    color: #ffffff;
    margin: 0% 5% 5% 5%;
}

.purchase-btn:hover {
    font-family: Funhouse;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-color: rgb(102, 210, 16);
    border-width: medium;
    color: rgb(102, 210, 16);
}

.store-card h1, h2 {
    color: white;
}

.store-card p {
    color: white;
    font-size: large;
}

.store-card .card-body {
    height: 200px;
    overflow-y: scroll;
    scrollbar-width: none;

}
/* Hide scrollbar for Chrome, Safari and Opera */
.store-card .card-body::-webkit-scrollbar {
    display: none;
}

/* ------------- elements as class names for dynamic card background --------------- */
.fire {
    background-image: linear-gradient(#fcaa2f, rgb(208, 64, 9));
    border-radius: 10%;
    margin: 5%;
}

.fire-ombre-btn {
    background-image: linear-gradient(to right, #fcaa2f, rgb(208, 64, 9));
    border-radius: 24px;
    margin: 5%;
    border-color: rgb(208, 64, 9);
    border-width: 0px;
}
.fire-ombre-btn h1 {
    color: white;
}

/* ________________________ */
.star {
    background-image: linear-gradient(#d62ffc, rgb(208, 64, 9));
    border-radius: 10%;
    margin: 5%;
}

.star-ombre-btn {
    background-image: linear-gradient(to right, #d62ffc, rgb(8, 78, 134));
    border-radius: 24px;
    margin: 5%;
    border-color:  rgb(8, 78, 134);
    border-width: 0px;
}
.star-ombre-btn h1 {
    color: white;
}

/* ________________________ */
.rock {
    background-image: linear-gradient(#a29e98, rgb(134, 75, 8));
    border-radius: 10%;
    margin: 5%;
}

.rock-ombre-btn {
    background-image: linear-gradient(to right, #a29e98, rgb(134, 75, 8));
    border-radius: 24px;
    margin: 5%;
    border-color:   rgb(134, 75, 8);
    border-width: 0px;
}
.rock-ombre-btn h1 {
    color: white;
}

/* ------------- end elements as class names for dynamic card background --------------- */
